body {
  background: white;
}
li {
  /*background: rgba(254,204,69,0.7);*/
  padding:30px !important;
  text-align: center;
}
span {
  display: inline-flex;
}
.caption {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-top:0;
  padding: 15px 30px 15px 30px;
}

.username {
  color: royalblue;
}
img {
  max-width: 350px;
  max-height: 350px;
}
.likesCount {
  color:black;
}
.instaContentWrapper {
  background: rgba(254,204,69,0.7);
  padding:15px;
}
